body {
   font-family: Sans-Serif;
   font-size: 125%;
   line-height: 120%;
}

.iris-heading {
   font-size: 120%;
   font-weight: bold;
   color: #069; /* white;*/
/*   background-color: #069;*/
   text-transform: capitalize;
   padding: 0.5em 0.5em 0.5em 0.5em; 
   letter-spacing: 0.15em;
}

.iris-heading .gray {
   color: #AAA;
}

.iris-heading .copyright {
   font-size: 80%;
   font-weight: normal;
   margin-top: 0.3em;
}

h1 {
   padding: 0.5em 0.5em 0em 0.25em; /* top right bottom left */
   font-family: Sans-Serif;
   font-weight: bold;
   font-size: 140%;
   color: #069;
}

.topic-brief {
   padding: 0em 0.5em 0.5em 0.5em;
}

h2 {
   margin-top: 0em;
   font-weight: bold;
   font-size: 120%;
   color: #900; /* #841; */
}

h3 {
   margin-bottom: 0.25em;
   font-weight: bold;
   font-size: 100%;
   color: #900; /*#620;*/
}

.keyword-brief {
}

.capitalize {
  text-transform: capitalize;
}

pre {
  font-size: 95%;
  font-family: Consolas, Monospace;
  line-height: 130%;
  margin-right: 2em;
  margin-left: 2em;
  padding: 0.5em;
  background-color: #eee;
  color: #069;
  border-width: 1px 1px 1px 1px;
  border-style: dotted;
  border-color: #069;
  display: block;
}

table {
  font-size: 100%;
}

td {
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  vertical-align: top;
}

td.bullet-point {
   vertical-align: middle;
   padding-right: 0em;
}

.smallprint {
   font-size: 75%;
}

.modified {
   color: #666;
   margin-bottom: 1em;
}

.boxed {
  border-width: 1px 1px 1px 1px;
  border-style: dotted;
  border-color: #069;
  padding: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

b {
   font-weight: bold;
}

.defaultoption {
   font-weight: bold;
}

span.math {
   font-style: italic;
   font-size: 100%;
}

div.math {
   margin-left: 1em;
   line-height: 150%;
}

.topic-name-remark {
  font-size: 90%;
  margin-bottom: 0.5em;
  color: #069;
}

.go-to-top-of-page {
  text-align: right;
  margin-top: 1em;
}

a:link {
  color: #069;
  text-decoration: underline;
/*  font-weight: bold;*/
}

a:visited {
  color: #069;
  text-decoration: underline;
/*  font-weight: bold;*/
}

a:hover {
  background-color: #036;
  color: #fff;
}

div.description p {
   line-height: 120%;
}

div.example p {
   line-height: 120%;
}

/* Function arguments in text */
span.argument {
   font-weight: bold;
}
